*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    ul {
        display: flex;
        li {
            margin: 20px;

            list-style: none;
        }
    }
}

a {
    text-decoration: none;
}



nav {

    background-color: black;
    height: 60px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;

    .menu {

        @media (max-width: 812px) {
            display: none;
        }

    }

    .nav-right {
        display: flex;
        align-items: center;

        div .search {
            margin: 0 20px;
        }

        @media (max-width: 812px) {
            display: none;
        }

    }

}

